
/* input:read-only{
    background-color:#282B2F;
} */

/* select:disabled{
    background-color:#282B2F;

} */

/* .select2-selection__rendered{
    height: 100%;
} */

input[type="text"]:disabled {
    background: #282B2F;
  }

  input[type="text"]:read-only {
    background: #282B2F;
  }
