body {
    color: #000;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    display: block;
}

p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
}

/****************HEADER****************/

.top-header{
  background-color: #2a5d9c;
}

.logo-section{
    background-color: rgb(255 255 255 / 67%);
    position: absolute;
    z-index: 999;
    width: 100%;
    padding: 10px 0;
}

nav.navbar.navbar-expand-lg.navbar-light{
  padding: 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 12px;
    line-height: 28px;
    font-weight: 400;
    padding: 10px 20px;
}

.navbar-light .navbar-nav li.dropdown.mega-dropdown a{
  color: #fff;
    font-size: 12px;
    line-height: 34px;
    font-weight: 400;
    padding: 10px 20px;
}

.navbar-light .navbar-nav li.dropdown.mega-dropdown a ul li a{
  font-size: 12px;
  line-height: 28px;
  font-weight: 400;
  color: #777 !important;
  text-decoration: none;
}

.mega-dropdown{
  padding: 7px 0;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: #fff;
}

.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    max-width: 500px;
    width: 100%;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}

.mega-dropdown-menu .row{
  padding: 0px;
}

.mega-dropdown-menu ul li{
  list-style-type: none;
  padding-bottom: 20px;
}

.mega-dropdown-menu ul li a{
  color: #777 !important;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
}

.signin-right ul{
  padding: 0px;
  margin: 0px;
  float: right;
  margin-top: 6px;
}

.signin-right ul li{
  list-style-type: none;
  display: inline-block;
  padding-left: 15px;
}

.signin-right ul li a{
    color: #fff;
    font-size: 12px;
    line-height: 34px;
    font-weight: 400;
    text-decoration: none;
}

a.btn.btn-post {
    border: 1px solid #2a5d9c;
    background-color: #2a5d9c;
    padding: 14px 35px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;
    border-radius: 0px;
    float: right;
    margin-top: 20px;
}


.logo img{
  width: 140px;
}

a.logo{
    font-size: 40px;
    line-height: 66px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

/**********MOBILE MENU***********/

.clickmenus{
    font-size: 26px;
    cursor: pointer;
    position: absolute;
    top: -28px;
    left: 15px;
    color: #fff;
    z-index: 99;
    display: inline-block;
    float: left;
    display: none;
}

.clickmenus h6{
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #dc3545;
    text-transform: uppercase;
    float: right;
    margin-left: 10px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #2a5d9c;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #222;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #000;
}

.sidenav .closebtn {
  position: absolute;
    top: 5px;
    right: 11px;
    font-size: 50px;
    margin-left: 50px;
    z-index: 9999;
    padding: 0px;
    color: #fff;
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}


.sidenav .card{
    background-color: transparent;
    border: none;
}


.card-header{
  background-color: transparent;
  border-bottom: 1px solid #eee;
}

.sidenav .card-body{
    padding: 0 10px;
}

.mobile-menus ul{
    padding: 0px;
    margin: 0px;
}

.mobile-menus ul li{
    list-style-type: none;
}

.mobile-menus ul li a {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    padding: 7px 20px;
    border-bottom: 1px solid #3971b7;
}

.mobile-menus ul li a:hover{
  color: #31aee8;
}

.sidenav .card-body ul li a {
    font-size: 12px;
}


.sidenav .card-body ul li a:hover {
    color: #31aee8;
    font-size: 13px;
    background-color: transparent;
}

.mobile-menus ul li a i.fa{
    float: right;
}


@media(max-width: 991px)
{
  .clickmenus{
    display: block;
  }

  .shadow-img{
    display: none;
  }

  nav.navbar.navbar-expand-lg.navbar-light{
    display: none;
  }
}

/*.add-section img{
  width: 100%;
  margin-bottom: 20px;
}

.logo-section img{
  width: 100%;
  margin-bottom: 20px;
}*/






/***********SEARCH BOX***********/

.search-items{
    padding-top: 40px;
    padding-bottom: 20px;
}

.catebox .input-group{
    height: 60px;
}

.catebox button.btn.btn-default.dropdown-toggle {
    background-color: #2a5d9c;
    border-radius: 0px;
    font-size: 16px;
    color: #fff;
    width: 100%;
    text-align: left;
    height: 60px;
}

.catebox span#search_concept {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
}

.catebox input{
    height: 60px;
    border: 1px solid #eee;
    border-radius: 0px;
    padding-left: 10px;
    font-size: 18px;
}

.catebox button.btn.btn-default {
    background-color: #33ace8;
    border-radius: 0px;
    color: #fff;
    width: 100%;
    height: 60px;
}

.catebox span.fa.fa-search{
    color: #fff;
}

ul.dropdown-menu.show {
    border-radius: 0px;
    margin-top: 0px;
    height: 300px;
    overflow-y: scroll;
    padding: 0px;
}

ul.dropdown-menu li{
    padding: 5px;
}

ul.dropdown-menu a{
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #333;
    padding: 5px;
    text-decoration: none;
}

.catebox{
    padding: 30px;
    background-color: rgb(42 93 156);
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 5px;
    box-shadow: 0px 1px 8px rgb(134 131 131 / 82%);
}

.input-group-btn.search-panel{
    width: 100%;
}

.catebox select{
    width: 100%;
    border: 1px solid #eee;
    border-radius: 0px;
    padding-left: 10px;
    font-size: 16px;
    line-height: 24px;
}

.catebox .input-group-btn{
    width: 100%;
}



/*.banner-section{
  background: url("../images/banner-img.jpg") top center no-repeat;
  width: 100%;
  margin-top: 0px;
  position: relative;
}

.banner-section .overlay{
    background-color: rgba(0,0,0,.2);
    padding-top: 92px;
}

.banner-section h1{
  font-size: 30px;
  line-height: 34px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}

.banner-section h6{
  color: #fff;
}*/

.slider .carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.4);
}








/*********************ITEM LIST******************/

.item-list{
  padding: 20px 0;
}

.item-list ul{
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.item-list ul li{
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}

.item-list ul li a{
  text-decoration: none;
}

.item-list ul li a h6{
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 0px;
}

.item-list ul li a h6:hover{
  color: #2a5d9c;
}

.item-list ul li a i.fa-mobile-alt{
    background-color: #2a5d9c;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 41px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.item-list ul li a i.fa-car-alt{
    background-color: #b73689;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 41px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.item-list ul li a i.fa-volleyball-ball{
    background-color: #3658b7;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 41px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.item-list ul li a i.fa-motorcycle{
    background-color: #af36b7;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 41px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.item-list ul li a i.fa-dumbbell{
    background-color: #cc0202;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 41px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.item-list ul li a i.fa-headphones-alt{
    background-color: #177b04;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 41px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.item-list ul li a i.fa-shoe-prints{
    background-color: #10adad;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 41px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.item-list ul li a i.fa-gift{
    background-color: #ad1710;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 41px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

/*****************FLASH SALE*****************/

.flash-section{
  padding: 20px 0;
  border-top: 1px solid #eee;
}

.flash-section h3{
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
  text-align: center;
}

.testi-box img{
  margin-bottom: 10px;
  height: 213px;
}

.testi-box h5{
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}

.testi-box h5 a{
  color: #000;
  text-decoration: none;
}

.testi-box h5 a:hover{
  color: #2a5d9c;
}

.testi-box p{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #888;
  margin-bottom: 5px;
}

.testi-box h6{
      font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #868686;
    margin-bottom: 0px;
}




.flash-section button.owl-prev {
    position: absolute;
    left: -20px;
    top: 0px;
    bottom: 0px;
}

.flash-section button.owl-next {
    position: absolute;
    right: -26px;
    top: 0px;
    bottom: 0px;
}

.flash-section span.fa.fa-angle-left {
    border: 2px solid #2a5d9c;
    background-color: #2a5d9c;
    padding: 6px 11px;
    border-radius: 10px 0 0 10px;
    font-size: 25px;
    margin-right: 5px;
    color: #fff;
}

.flash-section span.fa.fa-angle-right {
    border: 2px solid #2a5d9c;
    background-color: #2a5d9c;
    padding: 6px 11px;
    border-radius: 0 10px 10px 0;
    font-size: 25px;
    margin-right: 5px;
    color: #fff;
}

/***************DAILY DEALS**************/

.deal-section{
  padding: 20px 0;
  border-top: 1px solid #eee;
}

.deal-section h4{
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}

.tab-content{
    background-color: #f3f3f3;
    padding: 20px;
}

.deal-section .nav-tabs .nav-item.show .nav-link, .deal-section .nav-tabs .nav-link.active {
    color: #2a5d9c;
    background-color: #f3f3f3;
    border-color: #f3f3f3 #f3f3f3 #f3f3f3;
}

.deal-section .nav-link {
    display: block;
    padding: 10px 30px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #000;
}

.deal-box{
    background-color: #fff;
    border: 1px solid #eee;
}

.tab-content ul{
  padding: 0px;
  margin: 0px;
}

.tab-content ul li{
  list-style-type: none;
  display: inline-block;
  width: 18%;
  margin-bottom: 20px;
  margin-right: 20px;
}

.deal-box img{
    width: 100%;
    height: 180px !important;
}

.deal-box figure{
    margin: 0px !important;
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 180px;
    margin: 0 auto;
    overflow: hidden;
}

.deal-box figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease,-webkit-transform .2s ease;
    -webkit-transition: transform .2s ease;
    -moz-transition: transform ease .2s;
    -ms-transition: transform ease .2s;
}

.deal-box figure img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.pro-detail{
    padding: 15px;
    border-top: 1px solid #eee;
}

.pro-detail p{
    font-size: 14px;
    line-height: 20px;
    color: #888;
    margin-bottom: 0px;
    margin-top: 5px;
}

.pro-detail h5{
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 0px;
}

.pro-detail h5 a{
    color: #333;
    text-decoration: none;
}

.pro-detail h5 a:hover{
    color: #2a5d9c;
}

.pro-detail i.fa{
    color: #FFC315;
    font-size: 10px;
    margin-right: 2px;
    margin-bottom: 5px;
}

.product_price{
    color: #000;
    font-size: 12px;
    line-height: 16px;
    padding-left: 0px;
    font-weight: 500;
}

.lfloat{
    margin-right: 15px;
    padding-top: 5px;
}

.product_disc {
    border: 1px solid #2a5d9c;
    /*width: 61px;*/
    display: table;
    padding: 3px 5px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
    background-color: #2a5d9c;
    border-radius: 3px;
}

/****************FEATURE PRODUCTS****************/

.feature-section{
  padding: 20px 0;
  border-top: 1px solid #eee;
}

.feature-section h4 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}

.feature-section ul{
  padding: 0px;
  margin: 0px;
}

.feature-section ul li{
  list-style-type: none;
  display: inline-block;
  width: 18%;
  margin-bottom: 20px;
  margin-right: 21px;
}

.deal-box1{
    background-color: #fff;
    border: 1px solid #eee;
    margin-bottom: 15px;
}

.deal-box1 img{
    width: 100%;
    height: 180px;
}

.deal-box1 figure{
    margin: 0px !important;
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
}

.deal-box1 figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease,-webkit-transform .2s ease;
    -webkit-transition: transform .2s ease;
    -moz-transition: transform ease .2s;
    -ms-transition: transform ease .2s;
}

.deal-box1 figure img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

/******************BEST SECTION***************/

.best-section {
    padding: 20px 0;
    border-top: 1px solid #eee;
}

.best-section h4 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}


/******************SEARCH SECTION***************/

.search-section {
    padding: 20px 0;
    border-top: 1px solid #eee;
}

.search-section h4 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}

.search-section ul{
  padding: 0px;
  margin: 0px;
}

.search-section ul li{
  list-style-type: none;
  display: inline-block;
  width: 18%;
  margin-bottom: 20px;
  margin-right: 21px;
}



/*****************FOOTER****************/

footer{
  background-color: #eee;
}

.top-footer{
  padding: 40px 0;
  background-color: #2a5d9c;
}

.top-footer h4{
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}

.top-footer h4 span{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ccc;
  display: block;
}

.top-footer i{
  font-size: 30px;
  float: left;
  color: #fff;
  margin-right: 10px;
}

.top-footer ul{
  padding: 0px;
  margin: 0px;
}

.top-footer ul li{
  list-style-type: none;
  padding-bottom: 10px;
}

.top-footer ul li a{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.top-footer ul li a:hover{
  color: #32ace7;
}

.bottom-footer{
  padding: 20px 0;
  text-align: center;
  background-color: #2a5d9c;
}

.bottom-footer p{
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 0px;
}

button:focus{
  outline: none;
}


/*************BACK TO TOP**************/

.scroll-top-wrapper.show {
    visibility: visible;
    cursor: pointer;
    opacity: 1.0;
}

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #011250;
    color: #fff;
    width: 55px;
    height: 54px;
    line-height: 7px;
    right: 15px;
    bottom: 40px;
    padding-top: 14px;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper i.fa {
    line-height: inherit;
    font-size: 26px;
}

.scroll-top-wrapper h5{
    margin-top: 0px;
    font-weight: 300;
    font-size: 16px;
}

/*******************MEDIA QUERY******************/

@media(max-width: 1024px)
{
  .navbar-light .navbar-nav .nav-link{
    padding: 10px 9px;
  }

  .flash-section button.owl-prev{
    left: 16px;
  }

  .flash-section button.owl-next{
    right: 11px;
  }

  .tab-content ul li{
    margin-right: 16px;
  }

  .feature-section ul li{
    margin-right: 17px;
  }

  .search-section ul li{
    margin-right: 17px;
  }
}

@media(max-width: 991px)
{
  .navbar-light .navbar-toggler{
    background-color: #fff;
  }

  .navbar-light .navbar-nav li.dropdown.mega-dropdown a{
    padding: 10px;
  }

  .tab-content ul li{
    margin-right: 15px;
  }

  .feature-section ul li{
    margin-right: 16px;
  }

  .search-section ul li{
    margin-right: 16px;
  }
}

@media(max-width: 834px)
{
  .signin-right ul li{
    padding-left: 4px;
  }

  .tab-content ul li {
    margin-right: 12px;
  }

  .feature-section ul li {
    margin-right: 13px;
  }

  .search-section ul li {
    margin-right: 13px;
  }
}

@media(max-width: 768px)
{
  .signin-right ul li a{
    font-size: 10px;
  }

  .signin-right ul li{
    padding-left: 6px;
  }

  .signin-right ul{
    margin-top: 3px;
  }

  .tab-content ul li{
    width: 31%;
  }

  .feature-section ul li{
    width: 31%;
  }

  .search-section ul li{
    width: 31%;
  }
}

@media(max-width: 767px)
{
  .banner-section{
    height: 543px;
    background-size: cover;
  }

  .deal-box figure{
    height: auto;
  }

  .deal-box1 figure{
    height: auto;
  }

  .top-footer h4{
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .deal-box1 img {
    height: 280px !important;
  }
}

@media(max-width: 600px)
{
  .tab-content ul li {
    width: 47%;
  }

  .feature-section ul li {
    width: 47%;
  }

  .search-section ul li {
    width: 47%;
  }

  .deal-section .nav-link{
    padding: 10px 20px;
  }
}

@media(max-width: 575px)
{
  .item-list ul li{
    margin-bottom: 20px;
  }

  a.btn.btn-post{
    float: none;
    margin-top: 15px;
  }

  .logo img {
    margin: 0 auto;
    display: block;
  }

  a.btn.btn-post{
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 0px;
  }

  .tab-content ul li {
    width: 100%;
    margin-right: 0px;
  }

  .deal-box img{
    height: auto !important;
  }

  .feature-section ul li {
    width: 100%;
    margin-right: 0px;
  }

  .deal-box1 img{
    height: auto !important;
  }

  .search-section ul li{
    width: 100%;
    margin-right: 0px;
  }

  .catebox{
    padding: 10px;
  }

  .catebox .input-group {
    height: 40px;
    margin-bottom: 10px;
  }

  .catebox input{
    height: 40px;
  }

  .catebox button.btn.btn-default{
    height: 40px;
  }
}





























































